{% extends 'base.html.twig' %}

{% block body %}
    <h1>Expected results:</h1>

    <table border>
        <tr>
            <th>category</th>
            <th>author</th>
            <th>sum of votes</th>
        </tr>
        <tr><td>network</td><td>alice</td><td>151</td></tr>
        <tr><td>network</td><td>bob</td><td>334</td></tr>
        <tr><td>network</td><td>charlie</td><td>312</td></tr>
        <tr><td>network</td><td>dave</td><td>245</td></tr>
        <tr><td>compiler</td><td>alice</td><td>124</td></tr>
        <tr><td>compiler</td><td>bob</td><td>188</td></tr>
        <tr><td>compiler</td><td>charlie</td><td>520</td></tr>
        <tr><td>compiler</td><td>dave</td><td>167</td></tr>
        <tr><td>graphics</td><td>alice</td><td>370</td></tr>
        <tr><td>graphics</td><td>bob</td><td>182</td></tr>
        <tr><td>graphics</td><td>charlie</td><td>318</td></tr>
        <tr><td>graphics</td><td>dave</td><td>258</td></tr>
        <tr><td>simulation</td><td>alice</td><td>590</td></tr>
        <tr><td>simulation</td><td>bob</td><td>586</td></tr>
        <tr><td>simulation</td><td>charlie</td><td>314</td></tr>
        <tr><td>simulation</td><td>dave</td><td>292</td></tr>
    </table>

    <h1>Actual MySQL query run:</h1>

    <pre style="white-space: pre-wrap;">
mysql> SELECT SUM(p0_.votes) AS sclr0, c1_.id AS id1, c1_.name AS name2, a2_.id AS id3, a2_.name AS name4 FROM post p0_ INNER JOIN category c1_ ON (p0_.category_id = c1_.id) INNER JOIN author a2_ ON (p0_.author_id = a2_.id) GROUP BY p0_.category_id, p0_.author_id;
+-------+-----+------------+-----+---------+
| sclr0 | id1 | name2      | id3 | name4   |
+-------+-----+------------+-----+---------+
|   151 |   1 | network    |   1 | alice   |
|   334 |   1 | network    |   2 | bob     |
|   312 |   1 | network    |   3 | charlie |
|   245 |   1 | network    |   4 | dave    |
|   124 |   2 | compiler   |   1 | alice   |
|   188 |   2 | compiler   |   2 | bob     |
|   520 |   2 | compiler   |   3 | charlie |
|   167 |   2 | compiler   |   4 | dave    |
|   370 |   3 | graphics   |   1 | alice   |
|   182 |   3 | graphics   |   2 | bob     |
|   318 |   3 | graphics   |   3 | charlie |
|   258 |   3 | graphics   |   4 | dave    |
|   590 |   4 | simulation |   1 | alice   |
|   586 |   4 | simulation |   2 | bob     |
|   314 |   4 | simulation |   3 | charlie |
|   292 |   4 | simulation |   4 | dave    |
+-------+-----+------------+-----+---------+
16 rows in set (0.00 sec)
    </pre>

    (the query was copied from Symfony Profiler -> Doctrine -> View runnable query)

    <h1>What Doctrine produces:</h1>

    <table border>
        <tr>
            <th>category</th>
            <th>author</th>
            <th>sum of votes</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {% if 'category' in (post | keys) %}
                        {{ post.category.name }}
                    {% endif %}
                </td>
                <td>
                    {% if 'author' in (post | keys) %}
                        {{ post.author.name }}
                    {% endif %}
                </td>
                <td>
                    {% if 'votes' in (post | keys) %}
                        {{ post.votes }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
